@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
}

header {
  background-color: #fff;
  padding: 20px 0;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add{
  background-color: transparent;
  padding: 20px 10px;
  border: none;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  border-radius: 10px;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.add:hover{
  background-color: #dddddd;
}

form{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 300px;
  background-color: #fff;
  padding: 32px 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 20px 1500px rgba(0, 0, 0, 0.6);
  z-index: 100;
  gap: 16px;
  transition: all 0.3s ease-in-out;
}

.form-group input{
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}

.form-group input:focus{
  outline: none;
  border-color: #333;
}

form button{
  background-color: #333;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 20px;
  font-weight: 500;
}

form button:hover{
  background-color: #555;
}

form label{
  font-size: 20px;
  font-weight: 500;
}

.submit{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  margin-top: 8px;
  align-items: center;
}

.books{
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  max-width: 1400px;
}

.book{
  background-color: #fff;
  padding: 32px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}

.book :nth-child(n + 2){
  color: #333;
  font-size: 20px;
}